# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.python-version

# ---- Virtual environments ----
.venv/
venv/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Do NOT ignore source code ----
!Python/
!Python/**
